= form_with(model: [combo, comment], url: combo_comments_path(@combo) ) do |f|
  = f.text_area :content, class: "input-mysize"
  = f.submit "送信", class: "btn btn-outline-dark comment-submit float-right"
