h2 コンボ新規登録
.nav.justify-content-end
  = link_to '一覧', combos_path, class: 'nav-link'
= render partial: 'form', locals: { combo: @combo }
/投稿確認画面実装なら
/ - if @combo.errors.present?
/   ul#error_explanation 
/     - @combo.errors.full_messages.each do |message|
/       li= message 

/ = form_with model: @combo, local: true, url: confirm_new_combo_path do |f|
/   .form-group 
/     = f.label :name
/     = f.text_field :name, class: 'form-control', id: 'combo_name' 
/   .form-group 
/     = f.label :fighter
/     = f.collection_select :fighter_id, @fighter, :id, :name, prompt: true
/   .form-group 
/     = f.label :genre
/     = f.collection_select :genre_id, @genre, :id, :name, prompt: true
/   .form-group 
/     = f.label :startposition
/     = f.collection_select :startposition_id, @startposition, :id, :name, prompt: true
/   .form-group 
/     = f.label :startpossibledamage
/     = f.label :min, "最小"
/     = f.text_field :startpossibledamage_min, id: 'combo_startpossibledamage_min'
/     = f.label :max, "最大"
/     = f.text_field :startpossibledamage_max, id: 'combo_startpossibledamage_max' 
/   .form-group 
/     = f.label :combocommand
/     = f.collection_select(:command_ids, @commands, :id, :name, {}, {multiple: true} )
/   .form-group 
/     = f.label :damage_dealt
/     = f.text_field :damage_dealt, class: 'form-control', id: 'combo_damage_dealt'
/   .form-group 
/     = f.label :level
/     = f.radio_button :level, :easy, checked: "checked" 
/     = f.label :easy
/     = f.radio_button :level, :normal
/     = f.label :normal
/     = f.radio_button :level, :difficult
/     = f.label :difficult
/   .form-group
/     = f.label :youtube_url, "YouTubeのURL"
/     = f.text_field :youtube_url, placeholder: 'youtube_url'
/   .form-group 
/     = f.label :message
/     = f.text_area :message, rows: 5, class: 'form-control', id: 'combo_message' 

/   = f.submit '確認', class: 'btn btn-primary'





p Find me in app/views/combos/new.html.slim
