// Place all the styles related to the combos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.combo-show {
  width: 95%;
  margin: 0 auto;
}
.main-content a {
  font-size: 150%;
}
.combo-show .combo-show-content .table.table.table-hover .tbody.tbody {
  font-size: 150%;
}
.combo-show .combo-show-content .table.table.table-hover .tbody.tbody .btn.btn-secondary.border.border-dark{
  font-size: 100%;
  flex-wrap: wrap;
}
.combo-show .combo-show-sub-content {
  display: flex;
  margin-bottom: 10px;
}
.combo-show .combo-show-sub-content .combo-show-twitter {
  margin-left: 20px;
}

.like-link .iine__button {
  font-size: 156%;
}
.like-link .combo-show-like-flex {
  display: flex;
}

.combo-show .combo-show-comment .product__topContent__commentBox__index .combo-show-comment-flex {
  display: flex;
  margin-bottom: 20px;
}