// @import "bootstrap";
// .main-content {
//   min-width: 530px;

// }


.main-title {
  width: 100%;
  text-align: center;
  margin: 0;
  //height: 700px;
  //min-height: 600px;
  background-color: #fff;
}

.main-title .inner {
  position: relative;
  z-index: 190;
}

.main-title .inner .title-image .title-image-img {
  margin-top: 10px;
  width: 100%;
  max-width: 700px;
}





.main-title .inner .title-menu {
  
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
.main-title .inner .title-menu .title-menu-link {
  margin: 1%;
  // min-width: 420px;
}



// .main-title .inner .title-menu .title-menu-link{
//   width: 100%;
//   max-width: 200px;
//   margin: 5px 3px;
//   flex: 0 0 45%;  
//   display: block;
//   text-decoration: none;
//   border: solid 1px black;
// }

.main-search-fighter {

  width: 100%;
  text-align: center;
  min-height: 760px;
  
  //margin: 5% 0 0 0;
  //height: 700px;
  // background-color: #fff;
}
.main-search-fighter .inner {
  position: relative;
  z-index: 190;
  
}
.main-search-fighter .inner .fighter-list {
  padding-bottom: 20px;
  
}
.main-search-fighter .inner .fighter-list .row {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
  
}

.main-search-fighter .inner .fighter-list .row .col {
  padding-top: 5px;
  border: solid 0.5px rgb(67, 67, 67);
  text-decoration: none;
  
}

.main-search-fighter .inner .fighter-list .row .col .fighter-list-item-image {
  height: 60px;
  width: 60px;
  margin: 0 2px;
  border-radius: 5px;
  border: solid 1px rgb(98, 98, 98);
}


  



.sec-title {
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  width: 100%;
  margin: 0;
  padding: 5% 0 1% 0;
  font-size: 270%;
  font-weight: bold;
  text-align: center;
  color: black;
}
.sec-message {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  color: black;
}
//.main-search-fighter .inner .fighter-list .fighter-list-item 

.fighter-list-item {
  padding: 8px 6px 7px;
  width: 25%;
  text-align: center;
  border: solid 1px black;
  //text-decoration: none;
}









.main-search-condition {
  min-height: 730px;
  // background-color: rgb(255, 150, 194);
  position: relative;
  z-index: 50;
}

.main-search-condition .inner{

  //width: 90%;
  margin-left: auto;
  margin-right: auto;
  //text-align: center;
  justify-content: center;
  position: relative;
  z-index: 50;
  min-height: 400px;
  
}
.main-search-condition .inner .main-search-condition-content {
  padding-bottom: 20px;
}

.main-search-condition .inner .main-search-condition-content .main-search-form-box {
  max-width: 700px;
  min-width: 300px;
}
.main-search-condition .inner .main-search-condition-content .main-search-form-box {
  height: 550px;
  width: 85%;
  align-items: center;
  margin: 30px auto;

}

.main-search-condition .inner .main-search-condition-content .main-search-form-box .aa {
  height: 100%;
  width: 100%;
  background-color: #ffe6fa;
  border-radius: 140px 140px 0 0;
  position: relative;
  z-index: 80;
}

.main-search-condition .inner .main-search-condition-content .main-search-form-box .aa .main-search-menu-title {
  position: relative;
  transform: translate(-50%, -50%);
  top: 12%;
  left: 50%;
  font-size: 3em;
  text-align: center;
}


.main-search-condition .inner .main-search-condition-content .main-search-form-box .aa .main-search-menu-form .row.g-3 .main-search-form .col-12 {
  margin: 20px 0 0 0;

  
}
.main-search-condition .main-search-condition-content .main-search-form-box .aa .main-search-menu-form .row.g-3 .main-search-form .col-12 .btn.btn-primary {
  font-size: 120%;
  
}

.main-search-condition .inner .main-search-condition-content .main-search-form-box .bb {
  height: 23px;
  width: 100%;
  background-color: rgb(255, 150, 194);
  position: relative;
  transform: translate(-50% ,-50%);
  top: -73%;
  left: 50%;
  
  z-index: 90;
}
.main-search-condition .inner .main-search-condition-content .main-search-form-box .cc {
  height: 85px;
  width: 27%;
  background-color: #ffe6fa;
  position: relative;
  transform: translate(-50% ,-50%);
  top: -77%;
  left: 50%;
  z-index: 100;
}
.main-search-condition .inner .main-search-condition-content .main-search-form-box .dd {
  height: 65px;
  width: 16%;
  background-color: rgb(255, 150, 194);
  position: relative;
  transform: translate(-50% ,-50%);
  top: -93%;
  left: 50%;
  z-index: 110;
}
.main-search-condition .inner .main-search-condition-content .main-search-form-box .ee {
  height: 60px;
  width: 8%;
  background-color: rgb(255, 150, 194);
  position: relative;
  transform: translate(-50% ,-50%);
  top: -99%;
  left: 50%;
  z-index: 110;
}

.main-search-condition .main-search-condition-content .main-search-condition-search-menu .main-search-menu-form .main-search-menu-content .row.g-3 .main-search-form .main-search-group {
  font-size: 160%;
  
}


.main-create-selectfighter .inner .combo-create-button .create-button-text {
  padding-bottom: 60px;
  
}

.main-create-selectfighter .inner .combo-create-button .create-button-text .btn.btn-primary.btn-lg {
  font-size: 200%;
  
}



















.main-create-selectfighter {
  width: 100%;
  text-align: center;

  margin: 0;
  // min-height: 290px;
  // background-color: #fff;
  position: relative;
  z-index: 190;
}

.main-create-selectfighter .inner .fighter-list {
  padding-bottom: 20px;
  
}
.main-create-selectfighter .inner .fighter-list .row {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
  
}


@media only screen and (min-width: 200px) {
  .main-title .inner .title-logo {
    font-size: 450%;
    color: black;
    font-weight: 90;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .main-title .inner .title-message {
    font-weight: 500;
    padding: 1% 0;
    font-size: 120%;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .title-button-title {
    font-size: 160%;
    font-weight: 800;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .title-button-message {
    font-size: 130%;
    // font-weight: 800;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-success {
    
    width: 380px;
  }
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-info {
    
    width: 380px;
  }
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-primary {
    
    width: 380px;
  }
  // .main-create-selectfighter .inner .fighter-list .row {
  //   padding-top: 5px;
  //   border: solid 0.5px rgb(67, 67, 67);

  // }
  .main-create-selectfighter .inner .fighter-list .row .col {
    padding-top: 5px;
    border: solid 0.5px rgb(67, 67, 67);
    text-align: center;
  }
  .fighter-list-item-name {
    flex: none;
    text-decoration: none;
    color: rgb(52, 52, 52);
    font-weight: 800;
    font-size: 104%;
    display: table-caption;

  }

  .main-search-condition .inner .main-search-condition-content .main-search-form-box .aa .main-search-menu-form {

    position: relative;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    font-size: 2em;
    padding: 0;
    z-index: 190;
  }
  .slide {
    position: fixed;
    width: 100%;
    top: 40px;
    margin: 0;
    // text-align: center;
  }
  
  .slide img {
    width: 100%;
    // max-width: 700px;
    // position: absolute;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    opacity: 0.2;
    // min-width: 800px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 641px) {
  .main-title .inner .title-logo {
    font-size: 660%;
    color: black;
    font-weight: 90;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .main-title .inner .title-message {
    font-weight: 500;
    padding: 1% 0;
    font-size: 175%;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .title-button-title {
    font-size: 140%;
    font-weight: 800;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .title-button-message {
    font-size: 90%;
    font-weight: 800;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-success {
    min-width: 420px;
    
  }  
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-info {
    min-width: 420px;
    
  }
  
  .main-title .inner .title-menu .title-menu-link .btn.btn-outline-primary {
    min-width: 420px;
    
  }
  .fighter-list-item-name {
    // flex: none;
    text-decoration: none;
    color: rgb(52, 52, 52);
    font-weight: 800;
    // font-size: 104%;
  }
  .main-create-selectfighter .inner .fighter-list .row .col {
    padding-top: 5px;
    border: solid 0.5px rgb(67, 67, 67);
    text-align: center;
    align-content: center;
  }
  .fighter-list-item-name {
    flex: none;
    text-decoration: none;
    color: rgb(52, 52, 52);
    font-weight: 800;
    font-size: 104%;
    

  }
  .main-search-condition .inner .main-search-condition-content .main-search-form-box .aa .main-search-menu-form {

    position: relative;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    font-size: 2em;
    padding: 0 0 0 40px ;
    z-index: 190;
  }
}


@media only screen and (min-width: 1350px) {
  .slide {
    position: fixed;
    width: 100%;
    top: 40px;
    margin: 0;
    // text-align: center;
  }
  
  .slide img {
    width: 100%;
    // max-width: 700px;
    position: absolute;
    display: none;
    z-index: 5;
    opacity: 0.2;
    // min-width: 800px;
    margin: 0 auto;
  }
}